body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    
    
}
h1{
    position: relative;
}
form{
    position: relative;    
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    flex-direction: column;
}
.input{
    font-size: 1.5vw; 
    margin: 2vw;
    width: 15vw;
    height: 2.5vw;
}
.button{
    width: 5vw;
    height: 2vw;
    font-size: 1.5vw;
    text-align: center;
}
