{% extends 'main/base.html' %}
{% load static %}
{% block title %}Создание вопроса{% endblock %}
{% block pathCss %}href="{% static 'marks/css/css.css' %}"{% endblock %}
{% block mainContent %}

<h1>Оценки ученика</h1>
<div class="content">
    <table>
    <caption>Оценки за месяц</caption>
        <tr>
            <th>Предмет/День</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
        </tr>
        <tr>
            <td>Русский язык</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Алгебра</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Геометрия</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Английский язык</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>География</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Информатика</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Биология</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
        </tr>
    </table>
</div>
{% endblock %}